*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: white;
    top: 2%;
    position: relative;
    /*border-radius: 32px;*/
    box-shadow:  25px 25px 41px #b4d97f,
                -25px -25px 41px #b4d97f;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
    color: #000;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}


.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.content{
    width: 1800px;
    height: auto;
    margin: auto;
    margin-top: 2%;
    position: relative;
    background-color: rgb(134, 255, 134);
    border-radius: 32px;
    box-shadow:  25px 25px 41px #FBFDE1,
             -25px -25px 41px #FBFDE1;
}

.cn{
    width: 160px;
    height: 40px;
    background: #ffdcdc;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    box-shadow: 1px 1px 20px rgb(177, 158, 158);

    
}


.cn:hover{
    background-color: #fff;
}
.content h1{
    color: #000;
}
.content .par{
    color: #000;
}

.content span{
    color: #b19a64;
    font-size: 65px
}


.box1 {
    background-color: #ffffff;
    position: absolute;
    width: 30%;
    left: 17%;
    top: 700px;
    height: 500px;
    border-radius: 10%;
    box-shadow:  25px 25px 41px #b4d97f,
             -25px -25px 41px #b4d97f;
    background-image: url(consumers.jpg);
    background-size: cover;
}

.box2 {
    background-color: #ffffff;
    position: absolute;
    width: 30%;
    right: 17%;
    top: 700px;
    height: 500px;
    border-radius: 10%;
    box-shadow:  25px 25px 41px #b4d97f,
             -25px -25px 41px #b4d97f;
    background-image: url(producer.jpg);
    background-size: cover;
    
}

.box3 {
    background-color: #ffffff;
    position: absolute;
    width: 30%;
    left: 17%;
    top: 120px;
    height: 500px;
    border-radius: 10%;
    box-shadow:  25px 25px 41px #b4d97f,
             -25px -25px 41px #b4d97f;
    background-image: url(hh.jpg);
    background-size: cover;
}

.box4 {
    background-color: #ffffff;
    position: absolute;
    width: 30%;
    right: 17%;
    top: 120px;
    height: 500px;
    border-radius: 10%;
    box-shadow:  25px 25px 41px #b4d97f,
             -25px -25px 41px #b4d97f;
    background-image: url(producer.jpg);
    background-size: cover;
    
}

.box2:hover {
    filter: sepia();
    transition: 500ms ease;
}

.box1:hover {
    filter: sepia();
    transition: 500ms ease;
}
.box3:hover {
    filter: sepia();
    transition: 500ms ease;
}

.box4:hover {
    filter: sepia();
    transition: 500ms ease;
}



.text {
    position: inherit;
    left: 15%;
    top: 10%;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    
}

.center {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    position: absolute;
    width: 96%;
    left: 0.5%;
    top: 130px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 25px 25px 41px #b4d97f,
    -25px -25px 41px #b4d97f;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 30px;
}

.ad {
    position: relative;
    left: 65%;
    bottom: 30%;
}